<div class="row">
    <div class="col-md-12">
       <div class="row">
          <!-- <h2>Programs</h2> -->
          <!-- <p>The point of using Lorem Ipsum is that it has a more-or-less</p> -->
          <nav class="navbar navbar-light mx-auto mt-0">
             <div class="col-md-12 navbar mx-auto" >
                <form class="form-inline mx-auto mb-4">
                      
                      <input class="form-control mr-sm-2 mx-auto mt-1 mb-1" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2 mx-auto mt-1 mb-1" type="button">
                         <i class="fa fa-search mr-1"></i>
                         Search
                      </button>
                      <select class="form-control mr-sm-2 mt-1 mb-1" id="antrenmanCategorySelect" onchange="displayAntrenmanCategory()">
                         <option disabled selected> Category List</option>
                         <option value="1">1</option>
                         <option value="2">2</option>
                         <option value="3">3</option>
                         <option value="4">4</option>
                         <option value="5">5</option>
                      </select>
                 </form>
             </div>
          </nav>
       </div>
    </div>
 </div>