<%- include('./partials/_header') -%>
<%- include('./partials/_navigation', {pageName: 'about'}) -%>

<div class="back_re">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">
               <h2>About Fitness</h2>
            </div>
         </div>
      </div>
   </div>
</div>

<%- include('./sections/_aboutSection', {pageName: 'about'}) -%> 
<%-include('./partials/_footer')-%>