<%- include('./partials/_header') -%>
<%- include('./partials/_navigation', {pageName: 'contact'}) -%>

<div class="back_re">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">
               <h2>Requst A call  for You</h2>
            </div>
         </div>
      </div>
   </div>
</div>

<%- include('./sections/_contactSection' , {pageName: 'contact'}) -%>       
<%-include('./partials/_footer')-%>