<%- include('./partials/_header') -%>
<%- include('./partials/_navigation', {pageName: 'register'}) -%>

<div class="back_re">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">
               <h2>register</h2>
            </div>
         </div>
      </div>
   </div>
</div>

<!--  contact -->
<div id="contact" class="contact">
    <div class="container">
       <div class="row">
          <div class="col-md-8 mx-auto">
             <form id="registerForm" class="main_form" method="post" action="/users/signup">
                <div class="row">
                     <div class="col-md-12 ">
                        <input class="contactus" placeholder="Name" type="text" name="name" required> 
                     </div>                    
                     <div class="col-md-12">
                           <input class="contactus" placeholder="Email" type="email" name="email" required> 
                     </div>
                     <div class="col-md-12">
                           <input class="contactus" placeholder="Password" type="password" name="password" required>                          
                     </div>
                     <div class="col-md-12">
                        <input class="contactus" placeholder="Phone" type="text" name="phone" required> 
                     </div>
                     <div class="col-md-12">
                        <input class="contactus" placeholder="Height in cm" type="number" name="height" required> 
                     </div>
                     <div class="col-md-12">
                        <input class="contactus" placeholder="Weight in kg" type="number" name="weight" required> 
                     </div>
                     <div class="col-md-12 ">
                        <select name="role" class="contactus" placeholder="Role" required>
                           <option value="">Role:</option>
                           <option value="member">Member</option>
                           <option value="trainer">Trainer</option>
                        </select>
                     </div>
                     <div class="col-sm-12">
                        <input class="contactus" placeholder="Health Problem" type="text" name="healthProblem" required> 
                     </div>
                    <div class="col-md-12">
                        <button class="send_btn" type="submit">Register</button>
                    </div>
                </div>
             </form>
          </div>
          
       </div>
    </div>
 </div>
 <!-- end contact -->

<%-include('./partials/_footer')-%>